@import './mixins/clear.less';
// 最外层的包裹元素
#warpper {
  // 头部开始
  #header {
    // 上部分
    .headTop {
      background-color: #eaeaea;
      height: 30px;
      // 版心元素
      .headTopMain {
        width: 1200px;
        margin: 0 auto;
        line-height: 30px;
        // overflow: hidden;
        .clearfix();
        // 左侧
        .left {
          h5 {
            float: left;
            margin-right: 5px;
          }
          p {
            float: left;
            a {
              &:first-child {
               border-right: 1px solid #b3aeae;
               margin-right: 5px;
               padding-right: 5px;
              }
            }
          }
        }
        // 右侧
        .right {
          nav {
            float: right;
            font-size: 0;
            a {
              padding: 0 10px;
              border-right: 1px solid #b3aeae;
              font-size: 12px;
              &:last-child {
                border: none;
                padding-right: 0;
              }
            }
          }
        }
      }
    }
    // 下部分
    .headBottom {
      // 版心元素
      .headBottomMain {
        width: 1200px;
        margin: 0 auto;
        .clearfix();
        // 左侧logo
        .logo {
          float: left;
          a {
            img {
              width: 175px;
              height: 56px;
              margin: 25px 45px;
            }
          }
        }
        // 右侧搜索框
        .search {
          float: right;
          margin-top: 35px;
          input {
            // 文本框
            &:first-child {
              box-sizing:border-box;
              width: 490px;
              height: 32px;
              padding:0px 4px;
              border: 3px solid #ea4a36;
              float: left;
            }
            // 提交按钮
            &:last-child {
              width: 68px;
              height: 32px;
              background-color: #ea4a36;
              color: #fff;
              border: none;
              float: left;
            }
            // 修饰placeholder，input框默认提示文字
            &::-webkit-input-placeholder {
              color: yellowgreen;
            }
          }
        }
      }
    }
  }
  // 头部结束


  // 分类导航开始
  #navWrap {
    border-bottom: 2px solid #e1251b;
    // 版心元素
    .navWrapMain {
      width: 1200px;
      margin: 0 auto;
      .clearfix();
      a {
        margin: 0 22px; 
        font-size: 16px;
        color: #333;
        float: left;
        line-height: 50px;
        // 全部糖果分类
        &:first-child{
          width: 210px;
          height: 50px;
          background-color: #e1251b;
          color:#fff;
          font-size: 14px;
          font-weight: bold;
          float: left;
          text-align: center;
          line-height: 50px;
        }
      }
    }
  } 
  // 分类导航结束

  // 内容区域开始
  #content {
    // 版心元素
    .contentMain {
      width: 1200px;
      margin:15px auto 0 auto;
      // 路径导航
      .navPath {
        padding: 9px 15px 9px 0;
        font-size: 0;
        a {
          font-size: 12px;
        }
        i{
          font-size: 12px;
          padding: 0 5px;
        }
      }
      // 路径导航结束

      // 中间区域开始
      #center {
        margin:5px 0 15px;
        .clearfix();
        // 左边放大镜开始
        .left {
          width: 400px;
          float: left;
          // 左上部分
          .leftTop {
            width: 400px;
            height: 400px;
            border: 1px solid #DFDFDF;
            position: relative;
            // 小图框
            .smallPic {
              position: relative;
              // 小图片  
              img {
                
              }
              // 蒙版元素
              .mask {
                width: 200px;
                height: 200px;
                background-color: rgba(255, 255, 255, .5);
                border: 1px solid #ddd;
                position: absolute;
                left: 0;
                top: 0;
              }
            }
            // 大图框
            .bigPic {
              width: 400px;
              height: 400px;
              border: 1px solid #ddd;
              position: absolute;
              left: 420px;
              top: 0;
              // 溢出隐藏
              overflow: hidden;
              // 大图片
              img {
                width: 800px;
                height: 800px;
                position: absolute;
                left:0;
                top: 0;
              }
            }
          }
          // 左下缩略图部分
          .leftBottom {
            width: 400px;
            margin-top: 5px;
            a{
              width: 10px;
              height: 54px;
              border: 1px solid #CCC;
              background-color: #EBEBEB;
              text-align: center;
              line-height: 54px;
              float: left;
              &:first-child {
                margin-right: 4px;
              }
            }
            .piclist {
              width: 372px;
              height: 56px;
              float: left;
              overflow: hidden;
              position: relative;
              ul {
                white-space: nowrap; //强制不换行
                position: absolute;
                left: 0;
                transition: 0.5s;
                li {
                  width: 50px;
                  height: 50px;
                  border: 1px solid #CCC;
                  padding: 2px;
                  margin-right: 20px;
                  display:inline-block;
                  img {
                    width: 50px;
                    height: 50px;
                  }
                }
              }
            }
          }
        }
        // 左边放大镜结束

        // 右侧商品详情区域开始
        .right {
          width: 700px;
          float: right;
          // 商品详情上部分
          .rightTop {
            h3 {
              font-size: 18px;
              line-height: 21px;
              margin-top: 15px;
            }
            > p {
              color:#e12228 ;
              margin-top: 15px;
              font-size: 14px;
            }
            .priceWrap {
              margin-top: 10px;
              line-height: 28px;
              background-color: #fee9ec;
              padding: 7px;
              .priceTop {
                .clearfix();
                // 价格
                > span {
                  margin-right: 15px;
                  float: left;
                }
                // ￥ 5299 降价通知
                .price {
                  float: left;
                  color: #cc1122;
                  > span {
                    font-size: 16px;
                    float: left;
                  }
                  p {
                    font-size: 24px;
                    float: left;
                    font-weight: bold;
                    margin-right: 5px;
                  }
                  i {
                    font-size: 12px;
                    color: #cc1122;
                    float: left;
                  }
                }
                // 累计评价 524
                > p {
                  float: right;
                  > span {}
                }
              }
              .priceBottom {
                .clearfix();
                // 促销
                > span {
                  float:left;
                  margin-right: 15px;
                }
                // 加购价  xxxxxxxx
                p {
                  width: 520px;
                  line-height: 28px;
                  float: left;
                  > span {
                    color: #999;
                    &:first-child {
                      background:#c81623;
                      padding: 3px;color: #fff;
                    }
                  }
                }
              }
            }
            .support {
                // 支持 xxxxx
                padding-bottom: 5px;
                margin-top: 10px;
                line-height: 28px;
                .clearfix();
                > span {
                  margin-right: 15px;
                  float: left;
                }
                > p {
                  float: left;
                  color: #999;
                }
              }
              .address {
                // 配送至 河南省 郑州市 郸城县
                border-bottom: 1px solid #ededed;
                padding-bottom: 5px;
                margin-top: 10px;
                line-height: 28px;
                .clearfix();
                > span {
                  margin-right: 15px;
                  float: left;
                }
                > p {
                  float: left;
                  color: #999;
                }
             }
          }

          // 商品详情下部分
          .rightBottom {
            margin-top: 10px;
            line-height: 28px;
            // 选择后结果区域开始
            .choose {
              .clearfix();
              .mark {
                height: 30px;
                background: snow;
                border: 1px solid #ddd;
                padding: 0 20px; 
                margin-right: 20px;
                text-align: center;
                line-height: 30px;
                float: left;
                a {
                  color: red;
                  margin-left: 20px;
                }
              }
            }
            // 商品参数选择区域开始
            .chooseWrap {
              dl {
                margin: 13px 0;
                .clearfix();
                dt {
                  margin-right: 15px;
                  float: left;
                }
                dd {
                  margin-right: 5px;
                  color: #666;
                  line-height: 24px;
                  padding: 2px 14px;
                  border-top: 1px solid #eee;
                  border-left: 1px solid #eee;
                  border-right: 1px solid #bbb;
                  border-bottom: 1px solid #bbb;
                  float: left;
                  &:first-of-type {
                    color: red;
                  }
                }
              }
            }
            // 加入购物车以及数量区域开始
            .addCart {
              .clearfix();
              .count {
                width: 55px;
                margin-right: 15px;
                position: relative;
                float: left;
                input {
                  width: 38px;
                  height: 37px;
                  border: 1px solid #ddd;
                  color: #555;
                } 
                a {
                    width: 15px;
                    height: 18px;
                    color: #666;
                    background: #f1f1f1;
                    position: absolute;
                    right: 1px;
                    text-align: center;
                    line-height: 18px;
                    border: 1px solid #ddd;
                    &:first-child {
                      top: 0;
                    }
                    &:last-child {
                      top: 20px;
                      border-top:0;
                    }
                  }
              }
              button {
                padding-left: 25px;
                padding-right: 25px;
                height: 36px;
                font-size: 16px;
                background: #e1251b;
                color: #fff;
                border: none;
                float: left;
              }
            }

          }
        }
      }
      // 中间区域结束

      // 下边区域开始
      .goodsDetail {
        width: 1200px;
        margin: 30px auto 0;
        .clearfix();
        // 左边侧边栏
        .leftAside {
          width: 210px;
          border: 1px solid #ccc;
          .clearfix();
          float: left;
          // 上边
          .asideTop {
            h4 {
              height: 40px;
              width: 105px;
              background: #fff;
              float: left;
              text-align: center;
              line-height: 40px;
              border-bottom: 3px solid #ccc;
              border-top: 1px solid #ccc;
              &.active {
                border-top: 1px solid #e1251b;
                width: 105px;
                line-height: 37px;
                text-align: center;
                line-height: 40px;
                border-bottom: none;
              }
            }
          }
          // 下边
          .asideBottom {
            padding: 10px;
            div {
              &.active {
                ul {
                  &.goodslist1 {
                    .clearfix();
                    li {
                      width: 50%;
                      border-bottom: 1px dashed #ededed;
                      line-height: 28px;
                      float: left;
                    }
                  }
                  &.goodslist2 {
                    margin: 5px 0 15px;
                    li {
                      border-bottom: 1px solid #ededed;
                      img {
                        width: 152px;
                      }
                      span {}
                      p {
                        font-size: 16px;
                        color: #c81623;
                      }
                      .button {
                        margin-top: 5px;
                        margin-bottom: 5px;
                        text-align: right;
                        a {
                          color: #8c8c8c;
                          padding: 2px 14px;
                          line-height: 18px;
                          border: 1px solid #8c8c8c;
                         }
                        }
                      }
                    }
                  }
                }
              }
            }
           
          }
        // 右边详情结构
        .rightDetail {
          width: 980px;
          float: right;
          // 上边选择搭配开始
          .chooseBox {
            border: 1px #ddd solid;
            margin-bottom: 15px;
            // 标题
            h4 {
              border-bottom: 1px solid #ddd;
              background-color: #f1f1f1;
              color: #333;
              padding: 5px 0 5px 15px;
            }
            // 内容
            .listWarp {
              height: 170px;
              padding-top: 10px;
              .clearfix();
              
              // 左边
              .left {
                width: 127px;
                height: 165px;
                position: relative;
                float: left;
                text-align: center;
                img {
                  width: 87px;
                  margin: 0 auto;
                }
                p {
                  color: #c81623;
                  font-size: 16px;
                  text-align: center;
                }
                i {
                  position: absolute;
                  top: 48px;
                  right: -25px;
                  font-size: 16px;
                }
              }
              // 中间
              .center {
                width: 668px;
                height: 165px;
                float: left;
                .clearfix();
                text-align: center;
                li {
                  width: 127px;
                  margin: 0 20px;
                  float: left;
                  img {
                    width: 120px;
                    height: 130px;
                  }
                  > span {}
                  div {
                    input {}
                    span {}
                  }
                }
              }
              // 右边
              .right {
                border-left: 1px solid #ddd;
                float: left;
                width: 153px;
                height: 165px;
                padding-left: 20px;
                div {
                  margin: 10px 0;
                }
                p {
                  font-weight: bold;
                  margin-bottom: 10px;
                }
                i {
                  color: #b1191a;
                  font-size: 16px;
                  margin-bottom: 10px;
                }
                button {
                  padding: 10px 25px;
                  font-size: 16px;
                  color: #fff;
                  background-color: #e1251b;
                  border: none;
                }
              }
            }
          }
        }
      }
      // 下边区域结束
    }
  }
  // 内容区域结束
}
