.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #header .headTop {
  background-color: #eaeaea;
  height: 30px;
}
#warpper #header .headTop .headTopMain {
  width: 1200px;
  margin: 0 auto;
  line-height: 30px;
}
#warpper #header .headTop .headTopMain::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #header .headTop .headTopMain .left h5 {
  float: left;
  margin-right: 5px;
}
#warpper #header .headTop .headTopMain .left p {
  float: left;
}
#warpper #header .headTop .headTopMain .left p a:first-child {
  border-right: 1px solid #b3aeae;
  margin-right: 5px;
  padding-right: 5px;
}
#warpper #header .headTop .headTopMain .right nav {
  float: right;
  font-size: 0;
}
#warpper #header .headTop .headTopMain .right nav a {
  padding: 0 10px;
  border-right: 1px solid #b3aeae;
  font-size: 12px;
}
#warpper #header .headTop .headTopMain .right nav a:last-child {
  border: none;
  padding-right: 0;
}
#warpper #header .headBottom .headBottomMain {
  width: 1200px;
  margin: 0 auto;
}
#warpper #header .headBottom .headBottomMain::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #header .headBottom .headBottomMain .logo {
  float: left;
}
#warpper #header .headBottom .headBottomMain .logo a img {
  width: 175px;
  height: 56px;
  margin: 25px 45px;
}
#warpper #header .headBottom .headBottomMain .search {
  float: right;
  margin-top: 35px;
}
#warpper #header .headBottom .headBottomMain .search input:first-child {
  box-sizing: border-box;
  width: 490px;
  height: 32px;
  padding: 0px 4px;
  border: 3px solid #ea4a36;
  float: left;
}
#warpper #header .headBottom .headBottomMain .search input:last-child {
  width: 68px;
  height: 32px;
  background-color: #ea4a36;
  color: #fff;
  border: none;
  float: left;
}
#warpper #header .headBottom .headBottomMain .search input::-webkit-input-placeholder {
  color: yellowgreen;
}
#warpper #navWrap {
  border-bottom: 2px solid #e1251b;
}
#warpper #navWrap .navWrapMain {
  width: 1200px;
  margin: 0 auto;
}
#warpper #navWrap .navWrapMain::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #navWrap .navWrapMain a {
  margin: 0 22px;
  font-size: 16px;
  color: #333;
  float: left;
  line-height: 50px;
}
#warpper #navWrap .navWrapMain a:first-child {
  width: 210px;
  height: 50px;
  background-color: #e1251b;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  float: left;
  text-align: center;
  line-height: 50px;
}
#warpper #content .contentMain {
  width: 1200px;
  margin: 15px auto 0 auto;
}
#warpper #content .contentMain .navPath {
  padding: 9px 15px 9px 0;
  font-size: 0;
}
#warpper #content .contentMain .navPath a {
  font-size: 12px;
}
#warpper #content .contentMain .navPath i {
  font-size: 12px;
  padding: 0 5px;
}
#warpper #content .contentMain #center {
  margin: 5px 0 15px;
}
#warpper #content .contentMain #center::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #content .contentMain #center .left {
  width: 400px;
  float: left;
}
#warpper #content .contentMain #center .left .leftTop {
  width: 400px;
  height: 400px;
  border: 1px solid #DFDFDF;
  position: relative;
}
#warpper #content .contentMain #center .left .leftTop .smallPic {
  position: relative;
}
#warpper #content .contentMain #center .left .leftTop .smallPic .mask {
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  position: absolute;
  left: 0;
  top: 0;
}
#warpper #content .contentMain #center .left .leftTop .bigPic {
  width: 400px;
  height: 400px;
  border: 1px solid #ddd;
  position: absolute;
  left: 420px;
  top: 0;
  overflow: hidden;
}
#warpper #content .contentMain #center .left .leftTop .bigPic img {
  width: 800px;
  height: 800px;
  position: absolute;
  left: 0;
  top: 0;
}
#warpper #content .contentMain #center .left .leftBottom {
  width: 400px;
  margin-top: 5px;
}
#warpper #content .contentMain #center .left .leftBottom a {
  width: 10px;
  height: 54px;
  border: 1px solid #CCC;
  background-color: #EBEBEB;
  text-align: center;
  line-height: 54px;
  float: left;
}
#warpper #content .contentMain #center .left .leftBottom a:first-child {
  margin-right: 4px;
}
#warpper #content .contentMain #center .left .leftBottom .piclist {
  width: 372px;
  height: 56px;
  float: left;
  overflow: hidden;
  position: relative;
}
#warpper #content .contentMain #center .left .leftBottom .piclist ul {
  white-space: nowrap;
  position: absolute;
  left: 0;
  transition: 0.5s;
}
#warpper #content .contentMain #center .left .leftBottom .piclist ul li {
  width: 50px;
  height: 50px;
  border: 1px solid #CCC;
  padding: 2px;
  margin-right: 20px;
  display: inline-block;
}
#warpper #content .contentMain #center .left .leftBottom .piclist ul li img {
  width: 50px;
  height: 50px;
}
#warpper #content .contentMain #center .right {
  width: 700px;
  float: right;
}
#warpper #content .contentMain #center .right .rightTop h3 {
  font-size: 18px;
  line-height: 21px;
  margin-top: 15px;
}
#warpper #content .contentMain #center .right .rightTop > p {
  color: #e12228;
  margin-top: 15px;
  font-size: 14px;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap {
  margin-top: 10px;
  line-height: 28px;
  background-color: #fee9ec;
  padding: 7px;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap .priceTop::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap .priceTop > span {
  margin-right: 15px;
  float: left;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap .priceTop .price {
  float: left;
  color: #cc1122;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap .priceTop .price > span {
  font-size: 16px;
  float: left;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap .priceTop .price p {
  font-size: 24px;
  float: left;
  font-weight: bold;
  margin-right: 5px;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap .priceTop .price i {
  font-size: 12px;
  color: #cc1122;
  float: left;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap .priceTop > p {
  float: right;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap .priceBottom::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap .priceBottom > span {
  float: left;
  margin-right: 15px;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap .priceBottom p {
  width: 520px;
  line-height: 28px;
  float: left;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap .priceBottom p > span {
  color: #999;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap .priceBottom p > span:first-child {
  background: #c81623;
  padding: 3px;
  color: #fff;
}
#warpper #content .contentMain #center .right .rightTop .support {
  padding-bottom: 5px;
  margin-top: 10px;
  line-height: 28px;
}
#warpper #content .contentMain #center .right .rightTop .support::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #content .contentMain #center .right .rightTop .support > span {
  margin-right: 15px;
  float: left;
}
#warpper #content .contentMain #center .right .rightTop .support > p {
  float: left;
  color: #999;
}
#warpper #content .contentMain #center .right .rightTop .address {
  border-bottom: 1px solid #ededed;
  padding-bottom: 5px;
  margin-top: 10px;
  line-height: 28px;
}
#warpper #content .contentMain #center .right .rightTop .address::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #content .contentMain #center .right .rightTop .address > span {
  margin-right: 15px;
  float: left;
}
#warpper #content .contentMain #center .right .rightTop .address > p {
  float: left;
  color: #999;
}
