.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #header .headTop {
  background-color: #eaeaea;
  height: 30px;
}
#warpper #header .headTop .headTopMain {
  width: 1200px;
  margin: 0 auto;
  line-height: 30px;
}
#warpper #header .headTop .headTopMain::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #header .headTop .headTopMain .left h5 {
  float: left;
  margin-right: 5px;
}
#warpper #header .headTop .headTopMain .left p {
  float: left;
}
#warpper #header .headTop .headTopMain .left p a:first-child {
  border-right: 1px solid #b3aeae;
  margin-right: 5px;
  padding-right: 5px;
}
#warpper #header .headTop .headTopMain .right nav {
  float: right;
  font-size: 0;
}
#warpper #header .headTop .headTopMain .right nav a {
  padding: 0 10px;
  border-right: 1px solid #b3aeae;
  font-size: 12px;
}
#warpper #header .headTop .headTopMain .right nav a:last-child {
  border: none;
  padding-right: 0;
}
#warpper #header .headBottom .headBottomMain {
  width: 1200px;
  margin: 0 auto;
}
#warpper #header .headBottom .headBottomMain::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #header .headBottom .headBottomMain .logo {
  float: left;
}
#warpper #header .headBottom .headBottomMain .logo a img {
  width: 175px;
  height: 56px;
  margin: 25px 45px;
}
#warpper #header .headBottom .headBottomMain .search {
  float: right;
  margin-top: 35px;
}
#warpper #header .headBottom .headBottomMain .search input:first-child {
  box-sizing: border-box;
  width: 490px;
  height: 32px;
  padding: 0px 4px;
  border: 3px solid #ea4a36;
  float: left;
}
#warpper #header .headBottom .headBottomMain .search input:last-child {
  width: 68px;
  height: 32px;
  background-color: #ea4a36;
  color: #fff;
  border: none;
  float: left;
}
#warpper #header .headBottom .headBottomMain .search input::-webkit-input-placeholder {
  color: yellowgreen;
}
#warpper #navWrap {
  border-bottom: 2px solid #e1251b;
}
#warpper #navWrap .navWrapMain {
  width: 1200px;
  margin: 0 auto;
}
#warpper #navWrap .navWrapMain::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #navWrap .navWrapMain a {
  margin: 0 22px;
  font-size: 16px;
  color: #333;
  float: left;
  line-height: 50px;
}
#warpper #navWrap .navWrapMain a:first-child {
  width: 210px;
  height: 50px;
  background-color: #e1251b;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  float: left;
  text-align: center;
  line-height: 50px;
}
#warpper #content .contentMain {
  width: 1200px;
  margin: 15px auto 0 auto;
}
#warpper #content .contentMain .navPath {
  padding: 9px 15px 9px 0;
  font-size: 0;
}
#warpper #content .contentMain .navPath a {
  font-size: 12px;
}
#warpper #content .contentMain .navPath i {
  font-size: 12px;
  padding: 0 5px;
}
#warpper #content .contentMain #center {
  margin: 5px 0 15px;
}
#warpper #content .contentMain #center::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #content .contentMain #center .left {
  width: 400px;
  float: left;
}
#warpper #content .contentMain #center .left .leftTop {
  width: 400px;
  height: 400px;
  border: 1px solid #DFDFDF;
  position: relative;
}
#warpper #content .contentMain #center .left .leftTop .smallPic {
  position: relative;
}
#warpper #content .contentMain #center .left .leftTop .smallPic .mask {
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  position: absolute;
  left: 0;
  top: 0;
}
#warpper #content .contentMain #center .left .leftTop .bigPic {
  width: 400px;
  height: 400px;
  border: 1px solid #ddd;
  position: absolute;
  left: 420px;
  top: 0;
  overflow: hidden;
}
#warpper #content .contentMain #center .left .leftTop .bigPic img {
  width: 800px;
  height: 800px;
  position: absolute;
  left: 0;
  top: 0;
}
#warpper #content .contentMain #center .left .leftBottom {
  width: 400px;
  margin-top: 5px;
}
#warpper #content .contentMain #center .left .leftBottom a {
  width: 10px;
  height: 54px;
  border: 1px solid #CCC;
  background-color: #EBEBEB;
  text-align: center;
  line-height: 54px;
  float: left;
}
#warpper #content .contentMain #center .left .leftBottom a:first-child {
  margin-right: 4px;
}
#warpper #content .contentMain #center .left .leftBottom .piclist {
  width: 372px;
  height: 56px;
  float: left;
  overflow: hidden;
  position: relative;
}
#warpper #content .contentMain #center .left .leftBottom .piclist ul {
  white-space: nowrap;
  position: absolute;
  left: 0;
  transition: 0.5s;
}
#warpper #content .contentMain #center .left .leftBottom .piclist ul li {
  width: 50px;
  height: 50px;
  border: 1px solid #CCC;
  padding: 2px;
  margin-right: 20px;
  display: inline-block;
}
#warpper #content .contentMain #center .left .leftBottom .piclist ul li img {
  width: 50px;
  height: 50px;
}
#warpper #content .contentMain #center .right {
  width: 700px;
  float: right;
}
#warpper #content .contentMain #center .right .rightTop h3 {
  font-size: 18px;
  line-height: 21px;
  margin-top: 15px;
}
#warpper #content .contentMain #center .right .rightTop > p {
  color: #e12228;
  margin-top: 15px;
  font-size: 14px;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap {
  margin-top: 10px;
  line-height: 28px;
  background-color: #fee9ec;
  padding: 7px;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap .priceTop::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap .priceTop > span {
  margin-right: 15px;
  float: left;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap .priceTop .price {
  float: left;
  color: #cc1122;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap .priceTop .price > span {
  font-size: 16px;
  float: left;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap .priceTop .price p {
  font-size: 24px;
  float: left;
  font-weight: bold;
  margin-right: 5px;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap .priceTop .price i {
  font-size: 12px;
  color: #cc1122;
  float: left;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap .priceTop > p {
  float: right;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap .priceBottom::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap .priceBottom > span {
  float: left;
  margin-right: 15px;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap .priceBottom p {
  width: 520px;
  line-height: 28px;
  float: left;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap .priceBottom p > span {
  color: #999;
}
#warpper #content .contentMain #center .right .rightTop .priceWrap .priceBottom p > span:first-child {
  background: #c81623;
  padding: 3px;
  color: #fff;
}
#warpper #content .contentMain #center .right .rightTop .support {
  padding-bottom: 5px;
  margin-top: 10px;
  line-height: 28px;
}
#warpper #content .contentMain #center .right .rightTop .support::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #content .contentMain #center .right .rightTop .support > span {
  margin-right: 15px;
  float: left;
}
#warpper #content .contentMain #center .right .rightTop .support > p {
  float: left;
  color: #999;
}
#warpper #content .contentMain #center .right .rightTop .address {
  border-bottom: 1px solid #ededed;
  padding-bottom: 5px;
  margin-top: 10px;
  line-height: 28px;
}
#warpper #content .contentMain #center .right .rightTop .address::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #content .contentMain #center .right .rightTop .address > span {
  margin-right: 15px;
  float: left;
}
#warpper #content .contentMain #center .right .rightTop .address > p {
  float: left;
  color: #999;
}
#warpper #content .contentMain #center .right .rightBottom {
  margin-top: 10px;
  line-height: 28px;
}
#warpper #content .contentMain #center .right .rightBottom .choose::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #content .contentMain #center .right .rightBottom .choose .mark {
  height: 30px;
  background: snow;
  border: 1px solid #ddd;
  padding: 0 20px;
  margin-right: 20px;
  text-align: center;
  line-height: 30px;
  float: left;
}
#warpper #content .contentMain #center .right .rightBottom .choose .mark a {
  color: red;
  margin-left: 20px;
}
#warpper #content .contentMain #center .right .rightBottom .chooseWrap dl {
  margin: 13px 0;
}
#warpper #content .contentMain #center .right .rightBottom .chooseWrap dl::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #content .contentMain #center .right .rightBottom .chooseWrap dl dt {
  margin-right: 15px;
  float: left;
}
#warpper #content .contentMain #center .right .rightBottom .chooseWrap dl dd {
  margin-right: 5px;
  color: #666;
  line-height: 24px;
  padding: 2px 14px;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  float: left;
}
#warpper #content .contentMain #center .right .rightBottom .chooseWrap dl dd:first-of-type {
  color: red;
}
#warpper #content .contentMain #center .right .rightBottom .addCart::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #content .contentMain #center .right .rightBottom .addCart .count {
  width: 55px;
  margin-right: 15px;
  position: relative;
  float: left;
}
#warpper #content .contentMain #center .right .rightBottom .addCart .count input {
  width: 38px;
  height: 37px;
  border: 1px solid #ddd;
  color: #555;
}
#warpper #content .contentMain #center .right .rightBottom .addCart .count a {
  width: 15px;
  height: 18px;
  color: #666;
  background: #f1f1f1;
  position: absolute;
  right: 1px;
  text-align: center;
  line-height: 18px;
  border: 1px solid #ddd;
}
#warpper #content .contentMain #center .right .rightBottom .addCart .count a:first-child {
  top: 0;
}
#warpper #content .contentMain #center .right .rightBottom .addCart .count a:last-child {
  top: 20px;
  border-top: 0;
}
#warpper #content .contentMain #center .right .rightBottom .addCart button {
  padding-left: 25px;
  padding-right: 25px;
  height: 36px;
  font-size: 16px;
  background: #e1251b;
  color: #fff;
  border: none;
  float: left;
}
#warpper #content .contentMain .goodsDetail {
  width: 1200px;
  margin: 30px auto 0;
}
#warpper #content .contentMain .goodsDetail::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #content .contentMain .goodsDetail .leftAside {
  width: 210px;
  border: 1px solid #ccc;
  float: left;
}
#warpper #content .contentMain .goodsDetail .leftAside::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #content .contentMain .goodsDetail .leftAside .asideTop h4 {
  height: 40px;
  width: 105px;
  background: #fff;
  float: left;
  text-align: center;
  line-height: 40px;
  border-bottom: 2px solid #ccc;
  border-top: 1px solid #ccc;
}
#warpper #content .contentMain .goodsDetail .leftAside .asideTop h4.active {
  border-top: 3px solid #e1251b;
  width: 105px;
  line-height: 37px;
  text-align: center;
  line-height: 40px;
  border-bottom: none;
}
#warpper #content .contentMain .goodsDetail .leftAside .asideBottom {
  padding: 10px;
}
#warpper #content .contentMain .goodsDetail .leftAside .asideBottom div {
  display: none;
}
#warpper #content .contentMain .goodsDetail .leftAside .asideBottom div.active {
  display: block;
}
#warpper #content .contentMain .goodsDetail .leftAside .asideBottom div.active ul.goodslist1::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #content .contentMain .goodsDetail .leftAside .asideBottom div.active ul.goodslist1 li {
  width: 50%;
  border-bottom: 1px dashed #ededed;
  line-height: 28px;
  float: left;
}
#warpper #content .contentMain .goodsDetail .leftAside .asideBottom div.active ul.goodslist2 {
  margin: 5px 0 15px;
}
#warpper #content .contentMain .goodsDetail .leftAside .asideBottom div.active ul.goodslist2 li {
  border-bottom: 1px solid #ededed;
}
#warpper #content .contentMain .goodsDetail .leftAside .asideBottom div.active ul.goodslist2 li img {
  width: 152px;
}
#warpper #content .contentMain .goodsDetail .leftAside .asideBottom div.active ul.goodslist2 li p {
  font-size: 16px;
  color: #c81623;
}
#warpper #content .contentMain .goodsDetail .leftAside .asideBottom div.active ul.goodslist2 li .button {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: right;
}
#warpper #content .contentMain .goodsDetail .leftAside .asideBottom div.active ul.goodslist2 li .button a {
  color: #8c8c8c;
  padding: 2px 14px;
  line-height: 18px;
  border: 1px solid #8c8c8c;
}
#warpper #content .contentMain .goodsDetail .rightDetail {
  width: 980px;
  float: right;
}
#warpper #content .contentMain .goodsDetail .rightDetail .chooseBox {
  border: 1px #ddd solid;
  margin-bottom: 15px;
}
#warpper #content .contentMain .goodsDetail .rightDetail .chooseBox h4 {
  border-bottom: 1px solid #ddd;
  background-color: #f1f1f1;
  color: #333;
  padding: 5px 0 5px 15px;
}
#warpper #content .contentMain .goodsDetail .rightDetail .chooseBox .listWarp {
  height: 170px;
  padding-top: 10px;
}
#warpper #content .contentMain .goodsDetail .rightDetail .chooseBox .listWarp::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #content .contentMain .goodsDetail .rightDetail .chooseBox .listWarp .left {
  width: 127px;
  height: 165px;
  position: relative;
  float: left;
  text-align: center;
}
#warpper #content .contentMain .goodsDetail .rightDetail .chooseBox .listWarp .left img {
  width: 87px;
  margin: 0 auto;
}
#warpper #content .contentMain .goodsDetail .rightDetail .chooseBox .listWarp .left p {
  color: #c81623;
  font-size: 16px;
  text-align: center;
}
#warpper #content .contentMain .goodsDetail .rightDetail .chooseBox .listWarp .left i {
  position: absolute;
  top: 48px;
  right: -25px;
  font-size: 16px;
}
#warpper #content .contentMain .goodsDetail .rightDetail .chooseBox .listWarp .center {
  width: 668px;
  height: 165px;
  float: left;
  text-align: center;
}
#warpper #content .contentMain .goodsDetail .rightDetail .chooseBox .listWarp .center::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #content .contentMain .goodsDetail .rightDetail .chooseBox .listWarp .center li {
  width: 127px;
  margin: 0 20px;
  float: left;
}
#warpper #content .contentMain .goodsDetail .rightDetail .chooseBox .listWarp .center li img {
  width: 120px;
  height: 130px;
}
#warpper #content .contentMain .goodsDetail .rightDetail .chooseBox .listWarp .right {
  border-left: 1px solid #ddd;
  float: left;
  width: 153px;
  height: 165px;
  padding-left: 20px;
}
#warpper #content .contentMain .goodsDetail .rightDetail .chooseBox .listWarp .right div {
  margin: 10px 0;
}
#warpper #content .contentMain .goodsDetail .rightDetail .chooseBox .listWarp .right p {
  font-weight: bold;
  margin-bottom: 10px;
}
#warpper #content .contentMain .goodsDetail .rightDetail .chooseBox .listWarp .right i {
  color: #b1191a;
  font-size: 16px;
  margin-bottom: 10px;
}
#warpper #content .contentMain .goodsDetail .rightDetail .chooseBox .listWarp .right button {
  padding: 10px 25px;
  font-size: 16px;
  color: #fff;
  background-color: #e1251b;
  border: none;
}
#warpper #content .contentMain .goodsDetail .rightDetail .bottomDetail .tab {
  background-color: #ededed;
}
#warpper #content .contentMain .goodsDetail .rightDetail .bottomDetail .tab::after {
  content: '';
  display: block;
  clear: both;
}
#warpper #content .contentMain .goodsDetail .rightDetail .bottomDetail .tab li {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #fff;
  height: 40px;
  padding-left: 11px;
  padding-right: 11px;
  float: left;
  line-height: 40px;
  text-align: center;
}
#warpper #content .contentMain .goodsDetail .rightDetail .bottomDetail .tab li.active {
  background-color: red;
  border-left: 1px solid #ddd;
}
#warpper #content .contentMain .goodsDetail .rightDetail .bottomDetail .tab li.active a {
  color: #fff;
}
#warpper #content .contentMain .goodsDetail .rightDetail .bottomDetail .tabContent div {
  padding-left: 10px;
  line-height: 25px;
  display: none;
}
#warpper #content .contentMain .goodsDetail .rightDetail .bottomDetail .tabContent div.active {
  margin: 10px 0;
  display: block;
}
#warpper #content .contentMain .goodsDetail .rightDetail .bottomDetail .tabContent img {
  padding-left: 10px;
  width: 200px;
  height: 110px;
  float: left;
  border: 1px dashed palevioletred;
  margin: 10px;
}
#warpper .rightAside {
  width: 300px;
  height: 100%;
  background-color: #7a6e6e;
  transition: 0.5s;
  position: fixed;
  top: 0;
}
#warpper .rightAside.asideClose {
  right: -294px;
}
#warpper .rightAside.asideOpen {
  right: 0px;
}
#warpper .rightAside .btns {
  width: 35px;
  height: 35px;
  background-color: #7a6e6e;
  border-radius: 3px 0 0 3px ;
  left: -29px;
  background-size: 35px 35px;
  position: absolute;
}
#warpper .rightAside .btns.btnsClose {
  background-image: url('../images/list.png');
}
#warpper .rightAside .btns.btnsOpen {
  background-image: url('../images/cross.png');
}
#warpper .rightAside .content {
  width: 294px;
  background-color: bisque;
  position: absolute;
  left: 6px;
  top: 0;
  bottom: 0;
  z-index: 50;
}
#warpper .rightAside .content .navlist {
  position: absolute;
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
}
#warpper .rightAside .content .navlist li {
  width: 35px;
  height: 35px;
  position: relative;
}
#warpper .rightAside .content .navlist li p {
  width: 35px;
  height: 35px;
  background-color: #7a6e6e;
  background-image: url('../images/toolbars.png');
  background-position: -87px -174px;
  transition: 0.5s;
}
#warpper .rightAside .content .navlist li i {
  width: 62px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  position: absolute;
  left: 35px;
  transition: 0.5s;
  top: 0;
  background-color: #7a6e6e;
}
#warpper .rightAside .content .navlist li:hover p {
  background-color: pink;
}
#warpper .rightAside .content .navlist li:hover i {
  background-color: pink;
  left: -62px;
}
